body {
  background-color: rgb(105, 126, 126);
  color:white;
}

a {
  font-size: 25px
}

h2 {
  bottom: 0;
}

table, th, td {
  border: 1px solid black;
}

footer{
  bottom:0;
  background-color: black;
  color: white;
  padding:20px;
}

#indexBody {
  width: 960px;
  margin: 0 auto;
}

header {
  background-color: black;
  color: white;
  width: 960px;
  margin: 0 auto;
  padding:12px;
}

li {
  display: inline;
}