header {
  background-color: black;
  color: white;
  width: 960px;
  margin: 0 auto;
  padding:12px;
}

#nav-list {
  display: inline-block;
}

a {
  font-size: 25px;
  color: white;
  text-decoration:none;
}

body {
  background-color: rgba(76, 88, 88, 0.596);
  color:white;
}

#indexBody {
  width: 960px;
  margin: 0 auto;
}

h2 {
  bottom: 0;
}

#special-cookies {
  font-size: 20px;
}

#special-cookies-types {
  font-size: 20px;
  margin: 0 0;
  list-style-type:none;
}

h3 {
  font-size: 25px;
}

#merchandise-list {
  display: inline-block;
}

h4 {
  font-size:25px;
  margin-top:20px;
}

#location{
  font-size:25px;
}

footer{
  bottom:0;
  background-color: black;
  color: white;
  padding:20px;
}

#footer-list {
  display: inline-block;
}

/* sales.html only */

table, th, td {
  border: 1px solid black;
}

#table1 {
  width: 960px;
  margin: 0 auto;
}